<ion-view title="Barcode Scanner Demo">
    <ion-content class="has-header padding" ng-controller="BarcodeDemoCtrl">
        <p>Click scan button to scan some barcode.</p>
        <button class="button button-light" ng-click="scanBarcode();">scan</button>
        <div ng-if="result">
            <p>Result:
            <textarea ng-model="result.text" rows=3 readonly></textarea>
            </p>
            <p>Format: {{result.format}}</p>
            <p>Cancelled: {{result.cancelled}}</p>
        </div>
        <div ng-if="error">
            <p>Scanning failed: {{error}}</p>
        </div>
    </ion-content>
</ion-view>
