<ion-view title="Bluetooth Demo">
    <ion-content class="has-header" ng-controller="BluetoothDemoCtrl">
        <div class="list">
            <div class="item item-divider">
                don / BluetoothSerial
            </div>
            <a class="item" href="javascript:;" ng-click="checkIfBluetoothEnable()">Bluetooth enabled?</a>
            <a class="item item-icon-right" href="javascript:;" ng-click="listPairedDevices()">
                List bounded devices <i class="icon ion-chevron-right"></i>
            </a>

            <div class="item item-divider">
                randdusing / BluetoothLE
            </div>
            <a class="item" href="javascript:;" ng-click="leIsEnabled()">isEnabled</a>
            <a class="item" href="javascript:;" ng-click="leIsInitialize()">isInitialize</a>
            <a class="item" href="javascript:;" ng-click="leInitialize()">initialize</a>
            <a class="item" href="javascript:;" ng-click="leStartScan()">startScan</a>
            <a class="item" href="javascript:;" ng-click="leStopScan()">stopScan</a>
            <a class="item" href="javascript:;" ng-click="leClose()">close</a>
            
        </div>
    </ion-content>
</ion-view>
