<ion-view title="Bluetooth Demo">
    <ion-content class="has-header" ng-controller="FileAPIDemoCtrl">
        <h4>FileAPI</h4>
        <div>
            <img src="http://imgtuku.mingxing.com/upload/attach/2012/11/27330-1XyORkf.jpg" alt="" style="width:200px;" />
            <button class="btn btn-primary" ng-click="fuck()">Load pics</button>
        </div>

        <ul>
            <li ng-repeat="pic in pics">
                <img src="" alt="" />
            </li>
        </ul>
        
    </ion-content>
</ion-view>
