<ion-view title="SVG Demo">
    <ion-content class="has-header padding" ng-controller="SVGDemoCtrl">

        <style type="text/css" media="screen">
          #svg-wrapper {
              margin: 10px 0;
          }
          .red {
              fill: red;
          }
          .green {
              fill: green;
          }
        </style>
        
        <div id="svg-wrapper"></div>
        <button class="button button-positive" ng-click='toggleRectColor()'> set seats available </button>

        <!--
        <ul>
            <li ng-repeat="msg in msgs">{{msg}}</li>
        </ul>
        -->
        
    </ion-content>
</ion-view>
